img {
  width: 100px;
  height: 100px;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

.nav-elements {
  display: flex;
  list-style: none;
  margin: 10px;
}

.nav-elements > li {
  margin-right: 10px;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.705);
  margin: -10px;
  padding: 0;
}


#brandname {
  margin-right: auto;
}

body {
  background-color: rgba(7, 7, 7, 0.692);
  min-height: 100%;
  height: 100%;
  margin-bottom: 0px;
}

#destinations > ul > li {
  color: white;
  margin-left: 40%;
  list-style-position: inside;
  font-size: large;
}

#destinations > h3 {
  margin-top: 80px;
  margin-left: 40%;
  color:whitesmoke;
}

footer {
  /* to show footer at bottom */
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 20px;
  background-color: gray;
  text-align: center;
}
