body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  color: red;
  text-align: center;
}

.nav-elements {
  display: flex;
  list-style: none;
  margin: 10px;
}

.nav-elements > li {
  margin-right: 10px;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  align-items: center;
}
